body{
  font-family: Arial;
  background:#f2f2f2;
  text-align:center;
}

.box{
  background:white;
  padding:20px;
  margin:20px;
  border-radius:10px;
  box-shadow:0px 0px 10px #aaa;
}

input,select{
  padding:10px;
  margin:5px;
  width:90%;
}

button{
  padding:10px;
  margin:5px;
  width:95%;
  background:#2b7cff;
  color:white;
  border:none;
  border-radius:5px;
}

table{
  width:100%;
  margin-top:10px;
  border-collapse:collapse;
}

th,td{
  padding:8px;
  border:1px solid #ccc;
}
